<div class="container">
    <div class="inner-container">
       <table>
        <tr class="row">
            <td class="timings-container">
                <div class="start-end-container">
                    <p class="start-time-text">21:30</p>
                    <div class="line"></div>
                    <p class="end-time-text">05:30</p>
                </div>
                <p class="total-time">8 hours</p>
            </td>
            <td class="fare-container">
                <p class="fare-text">₹ 849</p>
            </td>
        </tr>
        <tr class="row">
            <td class="name-type-container">
                <p class="travels-name-text">Sri Balaji Travels</p>
                <p class="bus-type-text">Super Luxury(Non AC Seater 3+3 Push back)</p>
            </td>
            <td class="seats-available-container"> 
                <p class="seats-available-text">11 seatss</p>
            </td>
        </tr>
       </table>
    </div>
    
</div>
