.container{
    width: 30px;
    height: 60px;
    border-radius: 2px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;

}
.demo{
    width: 20px;
    height: 40px;
}

.femaleBooked{
    background: rgba(241, 65, 109, 0.750);
}
.maleBooked{
    background: rgba(8, 0, 2, 0.357);
}

.availableForFemale{
    background: white;
    border: 1px solid rgba(241, 65, 109, 0.750);
}

.availableForMale{
    background: white;
    border: 1px solid rgba(8, 0, 2, 0.357);
}

.selected{
    background:rgba(17, 224, 96, 0.88);
}


//  rgba(8, 0, 2, 0.357) ----grey
// rgba(241, 65, 109, 0.750) ---pink
