.container{
    display: flex;
    width: 40%;
    align-items: center;
}
input, select{
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.23);
    margin: 10px;
    border-radius: 10px;
    
}
.sno{

}